.box {
    border-style: solid;
    border-color: #211100;
    border-width: 15px;
    background-image: url("hermes-texture.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.box {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    background-color: #f26100;
    background-image: url("hermes-texture.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#logo {
  width: 240px;
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#password {
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); 
}
.fa-lock {
    top: 65%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%); 
}

#password {
    background-color: inherit;
    border-bottom: solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.orangebutton {
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: inherit;
    border: none
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }


/* 
 Media Queries */

 @media screen and (max-width: 420px) {
    .box {
      height: 350px;
      width: 350px; 
    }
    #logo {
        width: 150px;
    }
    .fa-lock {
        display: none;
    }
  }

  @media screen and (max-width: 736px) {
    .box {
      height: 350px;
      width: 350px; 
    }
    #logo {
        width: 150px;
    }
    .fa-lock {
        top: 60%;
        left: 25%;
        position: absolute;
        transform: translate(-50%, -50%); 
    }
  }